.container {
  flex-direction: column;
  justify-content: center;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 64px;

  & h2 {
    font-size: 28px;
    margin-bottom: 16px;
  }

  & h3 {
    color: var(--gray-700);
  }
}
