.container {
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 64px;

  & h2 {
    font-size: 28px;
    margin-bottom: 16px;
  }

  & h3 {
    color: var(--gray-700);
  }
}

.button {
  &--action {
    margin: 0 12px;
    padding: 14px 32px;
  }
  &--cancel {
    position: absolute;
    bottom: 32px;
    right: 32px;
  }
}
