:root {
  --white: #fff;
  --gray-100: #f7fafc;
  --gray-200: #edf2f7;
  --gray-300: #e2e8f0;
  --gray-400: #cbd5e0;
  --gray-500: #a0aec0;
  --gray-600: #718096;
  --gray-700: #4a5568;
  --gray-800: #2d3748;
  --gray-900: #1a202c;
  --orange-400: #fb923c;
  --orange-500: #ff6319;
  --orange-600: #ef4d00;
  --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --fuzzy: 0px 10px 25px 0px rgba(0, 0, 0, 0.03);
  --onlyTop: 0px -10px 25px 0px rgba(0, 0, 0, 0.03);
  --onlyBottom: 62px 0 white, -54px 0 white,
    0px 17px 25px 0px rgba(0, 0, 0, 0.03);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

body {
  overflow: initial;
  margin: 0;
  overscroll-behavior-y: none;
  font-family: "Roboto";
}

body,
button {
  color: initial;
}

ul {
  list-style: none;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  font-size: inherit;
  outline: none;
  cursor: pointer;
}

h2,
h3 {
  color: var(--gray-900);
}
